.container {
  max-width: 1215px;
}

.header-logo {
  color: #000;
  font-weight: 900;
  font-size: 24px
}

.navbar {
  padding: 10px 20px 0;
}

a.navbar-item {
  color: #787878;
  margin-right: 1.5em;
  padding: 0;
}

a.navbar-item:last-child {
  margin-right: 0;
}
a.navbar-item,
a.navbar-item.is-active {
  color: #787878;
}

a.navbar-item:hover,
a.navbar-item.is-active:hover {
  color: #000;
  text-decoration: none;
  background-color: #fff;
}

.navbar-item {
  padding-right: 0;
}

a.navbar-item.active {
  color: #000;
  font-weight: bold;
}

a.navbar-item.active:hover {
  /*cursor: default;*/
}

.navbar-burger {
  width: 15px;
}

.navbar-burger span {
  height: 2px;
  transition-duration: 300ms;
}

.navbar-burger:hover {
  background-color: #fff;
}

.column-27 {
  width: 27.5%;
  flex: none;
}

.column-30 {
  width: 30.05%;
  flex: none;
}

.column-42 {
  width: 42.44%;
  flex: none;
}

.column-47 {
  width: 46.98%;
  flex: none;
}

.column-53 {
  width: 53.02%;
  flex: none;
}

.feature-img-col {
  min-width: 45%;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.image-wrapper {
  padding-bottom: 6px !important;
  padding-left: 6px !important;
  float: left;
}

.image-trigger {
  padding-top: 66.66667%;
  width: 100%;
  height: 0;
  display: block;
  background-size: cover;
}

.image-trigger:hover{
  opacity: 0.7;
}

.image-trigger img {
  display: none;
}

.image-1 {
  background-image: url('/img/1.png');
  background-position: 50% 50%;
}

.image-2 {
  background-image: url('/img/2.png');
  background-position: 50% 50%;
}

.image-3 {
  background-image: url('/img/3.png');
  background-position: 50% 50%;
}

.image-4 {
  background-image: url('/img/4.png');
  background-position: 50% 50%;
}

.image-5 {
  background-image: url('/img/5.png');
  background-position: 50% 50%;
}

.image-6 {
  background-image: url('/img/6.png');
  background-position: 50% 50%;
}

.image-7 {
  background-image: url('/img/7.png');
  background-position: 50% 50%;
}

.image-8 {
  background-image: url('/img/8.png');
  background-position: 50% 50%;
}

.image-9 {
  background-image: url('/img/9.png');
  background-position: 50% 50%;
}

.image-10 {
  background-image: url('/img/10.png');
  background-position: 50% 0;
}

.image-11 {
  background-image: url('/img/11.png');
  background-position: 50% 0;
}

.image-12 {
  background-image: url('/img/12.png');
  background-position: 50% 35%;
}

.image-13 {
  background-image: url('/img/13.png');
  background-position: 50% 35%;
}

.image-201a {
  background-image: url('/img/201a.png');
  background-position: 50% 50%;
}

.image-202a {
  background-image: url('/img/202a.png');
  background-position: 50% 50%;
}

.image-203a {
  background-image: url('/img/203a.png');
  background-position: 50% 50%;
}

.image-204 {
  background-image: url('/img/204.png');
  background-position: 50% 50%;
}

.image-205a {
  background-image: url('/img/205a.png');
  background-position: 50% 50%;
}

.image-206 {
  background-image: url('/img/206.png');
  background-position: 50% 50%;
}

.image-207 {
  background-image: url('/img/207.png');
  background-position: 50% 50%;
}

.image-208 {
  background-image: url('/img/208.png');
  background-position: 50% 50%;
}

.image-209a {
  background-image: url('/img/209a.png');
  background-position: 50% 50%;
}

.image-210a {
  background-image: url('/img/210a.png');
  background-position: 50% 50%;
}

.image-211 {
  background-image: url('/img/211.png');
  background-position: 50% 50%;
}

.image-212a {
  background-image: url('/img/212a.png');
  background-position: 50% 50%;
}

.image-213a {
  background-image: url('/img/213a.png');
  background-position: 50% 50%;
}

.image-214a {
  background-image: url('/img/214a.png');
  background-position: 50% 50%;
}

.image-215 {
  background-image: url('/img/215.png');
  background-position: 50% 50%;
}

.image-216 {
  background-image: url('/img/216.png');
  background-position: 50% 50%;
}

.image-217a {
  background-image: url('/img/217a.png');
  background-position: 50% 50%;
}

.image-218 {
  background-image: url('/img/218.png');
  background-position: 50% 50%;
}

.image-219 {
  background-image: url('/img/219.png');
  background-position: 50% 50%;
}

.image-220 {
  background-image: url('/img/220.png');
  background-position: 50% 50%;
}

.image-221 {
  background-image: url('/img/221.png');
  background-position: 50% 50%;
}

.image-222 {
  background-image: url('/img/222.png');
  background-position: 50% 50%;
}

.image-223 {
  background-image: url('/img/223.png');
  background-position: 50% 50%;
}

.image-224 {
  background-image: url('/img/224.png');
  background-position: 50% 50%;
}

.image-225 {
  background-image: url('/img/225.png');
  background-position: 50% 50%;
}

.image-226 {
  background-image: url('/img/226.png');
  background-position: 50% 50%;
}

.image-227 {
  background-image: url('/img/227.png');
  background-position: 50% 50%;
}

.image-228 {
  background-image: url('/img/228.png');
  background-position: 50% 50%;
}

.image-229 {
  background-image: url('/img/229.png');
  background-position: 50% 50%;
}

.image-301 {
  background-image: url('/img/301.png');
  background-position: 50% 35%;
}

.image-302 {
  background-image: url('/img/302.png');
  background-position: 50% 35%;
}

.image-303 {
  background-image: url('/img/303.png');
  background-position: 50% 35%;
}

.image-304 {
  background-image: url('/img/304.png');
  background-position: 50% 35%;
}

.page-title {
  font-size: 2rem;
  font-weight: 400;
  color: #000;
  margin-bottom: 3rem;
}

.descr {
  min-width: 300px;
}

.descr-title {
  font-size: 1.5rem;
  font-weight: 500;
  color: #000;
  margin-bottom: .75rem;
  text-transform: uppercase;
}

.descr-text {
  margin-bottom: 3rem;
}

.feature-img {
  border: 1px #ddd solid;
  margin-bottom: 3rem;
}

.product-img {
  border: 1px #ddd solid;
  margin-bottom: .5rem;
}

.img-caption {
  font-size: .85rem;
  color: #555;
  margin-bottom: 2rem;
  text-indent: 0;
}

.product-nav {
  color: #777;
  font-size: 0.75rem;
  font-weight: 300;
}

.product-nav .icon {
  color: #444;
  font-weight: 300;
}

.product-nav .icon.left {
  padding-right: 1.5rem;
}

.product-nav .icon.right {
  padding-left: 1.5rem;
}

.essay-title {
  font-size: 20px;
  font-weight: 700;
}

.essay-subtitle {
  margin-bottom: 24px;
  font-style: italic;
}

.essay-bibliography-title {
  text-align: center;
  text-decoration: underline;
  margin-top: 48px;
  margin-bottom: 16px;
  padding-top: 48px;
  border-width: 8px;
  border-top-style: solid;
  text-indent: 0;
}

figure.essay-img-wrapper {
  float: left;
  width: 28%;
  margin: 1em!important;
}

figure.essay-img-wrapper-center {
  text-align: center;
  width: 100%;
  margin: 2em 0!important;
}

figure.essay-img-wrapper-left {
  float: left;
  margin: 1em 2em 0.5em 1em!important;
}

figure.essay-img-wrapper-right {
  float: right;
  margin: 1em 1em 0.5em 2em!important;
}

.essay-img {
  width: 300px;
  border: 1px solid #ddd;
}

figure.essay-img-wrapper-center .essay-img {
  width: 100%
}

figure.essay-img-wrapper .essay-img {
  height: 136px;
  width:100%;
}

.essay-caption {
  text-indent: 0!important;
  font-size: .85rem;
  color: #555;
}

.content p {
  text-indent: 20px;
}

.content p.dialogue {
  margin: 20px;
  text-indent: 0;
}

.content blockquote {
  margin: 24px 36px;
  background-color: #fff;
}

.message.pastel-blue,
.message.pastel-green,
.message.pastel-purple,
.message.pastel-orange,
.message.pastel-yellow,
.message.pastel-pink{
  background-color: #fff!important;
  margin-bottom: 24px!important;
}

.message-body {
  border-width: 0 0 0 28px;
  border-radius: 0;
  padding-top: .75em;
  padding-bottom: .85em;

}

.pastel-blue,
.message.pastel-blue .message-body {
  border-color: #dbfbfe!important;
}

.pastel-green,
.message.pastel-green .message-body {
  border-color: #f0f6e5!important;
}

.pastel-purple,
.message.pastel-purple .message-body {
  border-color: #deddec!important;
}

.pastel-orange,
.message.pastel-orange .message-body {
  border-color: #fae2c9!important;
}

.pastel-yellow,
.message.pastel-yellow .message-body {
  border-color: #fdfad9!important;
}

.pastel-pink,
.message.pastel-pink .message-body {
  border-color: #fce4e9!important;
}

.top-scroller {
  position: fixed;
  bottom: 100px;
  right: 150px;
  display: none;
  z-index: 2;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  color: #777;
  font-weight: 300;
  font-size: .75rem;
}

.top-scroller:hover {
  color: #363636;
}

.top-scroller .icon {
  color: #444;
}

@media screen and (max-width: 1279px) {
  figure.essay-img-wrapper {
    width: 26%;
  }

  figure.essay-img-wrapper .essay-img {
    height: 100px;
  }

  .top-scroller {
    right: 100px;
  }
}

@media screen and (max-width: 1023px) and (min-width: 769px) {
  .descr-title {
    margin-bottom: .37rem;
  }

  .descr-text {
    margin-bottom: 1.45rem;
    font-size: .93rem;
  }

  .feature-img-col {
    min-width: 55%;
  }

  .essay-img {
    width: 230px;
  }

  .top-scroller {
    right: 50px;
  }
}

@media screen and (max-width: 1087px) {
  @keyframes menu-in {
     0% {opacity: 0; transform: translateX(1100px);}
     100% {opacity: 1; transform: translateX(0px);}
   }

  @keyframes menu-out {
    0% {opacity: 1; transform: translateX(-1100px);}
    10% {opacity: 1; transform: translateX(-1100px);}
    100% {opacity: 0; transform: translateX(0px);}
  }

  @keyframes show-menu-item {
    0% {opacity: 0;}
    60% {opacity: 0;}
    100% {opacity: 1;}
  }

  @keyframes hide-menu-item {
    0% {opacity: 1;}
    100% {opacity: 0;}
  }

  @keyframes show-logo {
    0% {opacity: 0;}
    10% {opacity: 0;}
    20% {opacity: 1;}
    100% {opacity: 1;}
  }

  @keyframes hide-logo {
    0% {opacity: 1;}
    70% {opacity: 1;}
    80% {opacity: 0;}
    100% {opacity: 0;}
  }

  .navbar-menu {
    display: block;
    box-shadow: none;
    position: fixed;
    top: 50px;
    left: 1100px;
    width:100%;
    z-index: 50;
    padding: 0 20px;
    will-change: transform;
    overflow-y: auto;
  }

  .navbar-menu.is-active {
    left: 0;
  }

  .navbar-end a.navbar-item {
    opacity: 0;
  }

  .navbar-end a.navbar-item.is-active {
    background-color: #fff;
    opacity: 1;
  }

  .navbar-end a.navbar-item {
    margin-bottom: 1rem;
  }

  .header-logo {
    opacity: 1;
  }

  .header-logo.is-active {
    opacity: 0;
  }

  .feature-img-col {
    max-width: 58%;
    min-width: 58%;
  }

  figure.essay-img-wrapper {
    width: 100%;
    margin: 1.5em 0 1em 0!important;
  }

  figure.essay-img-wrapper .essay-img {
    height: auto;
    width: auto;
  }
}

@media screen and (max-width: 768px) {
  .feature-img-col {
    max-width: 100%;
  }

  .content blockquote {
    margin: 10px 36px;
    background-color: #fff;
  }

  .column-27,
  .column-30,
  .column-42,
  .column-47,
  .column-53 {
    width: 100%;
  }

  figure.essay-img-wrapper-left,
  figure.essay-img-wrapper-right {
    width: 100%;
    margin: 1.5em 0 1em 0!important;
  }

  .essay-img {
    width: 300px;
  }

  .top-scroller {
     color: rgba(255, 255, 255, 0);
  }

  .top-scroller:hover {
    color: rgba(255, 255, 255, 0);
  }

  .top-scroller .icon {
    color: rgba(255, 255, 255, 0)!important;
  }
}
