{% set page = 'Espacios' %}
{% set title = 'Estanterías Modulares' %}
{% set pathToRoot = '..' %}
{% set pageId = '302' %}
{% extends "_base.njk" %}
{% block content %}
    {% include '_space_page.njk' %}
{% endblock %}
