{% set page = ['Espacios', 'Spaces'] %}
{% set title = 'Mobiliario Urbano' %}
{% set pathToRoot = '../' %}
{% set pageId = '303' %}
{% extends "_base.njk" %}
{% block content %}
    {% include '_space_page.njk' %}
{% endblock %}
