{% set page = 'Spaces' %}
{% set title = 'Model-A' %}
{% set pathToRoot = '../' %}
{% set pageId = '304' %}
{% extends "_base.njk" %}
{% block content %}
    {% include '_space_page.njk' %}
{% endblock %}
