{% set page = 'About me' %}
{% set title = 'Sobre mí' %}
{% set pathToRoot = '' %}
{% extends "_base.njk" %}
{% block content %}
    <div class="container">
        <div class="about-summary-container">
            <div class="about-rel-container">
                <h1 class="about-title">about me</h1>
                <div class="about-white-bar"></div>
            </div>
            <div class="about-summary">
                <div class="about-rel-container about-white-box">
                    <p>
                        My name is  <strong>Ana Isabel Feliu</strong> and I am studying Industrial Design at Isthmus. What I love most about design are the stages of research and ideation. I often use the Design Thinking methodology and I enjoy leading work teams. I am interested in the design of home furnishings, ceramics and textiles. Nordic and Japanese aesthetics are a great inspiration, as <strong>I seek to use design to make the world less complicated</strong>. I stand out for my good attitude, positivity and sense of humor. This portfolio contains some of my work outside and inside my university.

                    </p>
                </div>
                <div class="about-img-container">
                    <img class="about-img" src="img/anafeliu.png" alt="">
                </div>
            </div>
        </div>

        <div class="about-cv-container">
            <div class="about-cv-header">
                <p>anafeliu14@gmail.com</p>
                <p>Panama, Panama</p>
                <div class="about-blue-bar"></div>
            </div>
            <div class="about-cv">
                <div class="about-cv-column">
                    <h2>EDUCATION</h2>
                    <h3>Colegio Brader</h3>
                    <p>Bachelor of Science and Letters 2000-2014</p>

                    <p>Class of 2014, GPA: 4.86</p>
                    <p>Vice President of my class</p>
                    <p>Secretary (2013) and president (2014) of the debate club</p>
                    <p>Mathematics Olympics (2008-2010)</p>
                    <p>Chemistry Olympics (2012-2013)</p>
                    <p>Physics Olympics (2014)</p>
                    <p>Mission Harpy Eagle (2011-2014)</p>
                    <p>Member of the film club (2013)</p>
                    <p>Founder of the Brader Intramural Conference (2013) and organizer (2013-2014)</p>
                    <p>Member of the social service club (2014)</p>
                    <p>Debate summer course at Miss Porter's School in Connecticut, USA (2011)</p>
                    <p>Comedy writing course at Brown University, Rhode Island, USA (2012)</p>

                    <h3>University of Rochester</h3>
                    <p>Computer Science Major 2015-2016</p>
                    <br />
                    <p>Classes in computer science, mathematics, psychology, writing, music, history and art.</p>
                    <p>Member of salsa, snowboarding, feminist, squash and social service clubs.</p>

                    <h3>Isthmus</h3>
                    <p>Industrial Design Major 2016-2020</p>
                    <br />
                    <p>Workshop classes, materials technology, design software, business management, ergonomy, creativity and innovation, graphic expression, technical drawing, physics, design history, project presentation, communication, research techniques and environmental studies.</p>
                </div>
                <div class="about-cv-column about-rel-container">
                    <h2>SOFTWARE</h2>
                    <p>Rhinoceros</p>
                    <p>Fusion 360</p>
                    <p>SolidWorks</p>
                    <p>Keyshot</p>
                    <p>Adobe Illustrator</p>
                    <p>Adobe Photoshop</p>
                    <p>Adobe InDesign</p>
                    <p>Sketch-Up</p>
                    <p>Cinema 4D</p>

                    <h2>LANGUAGES</h2>
                    <p>Spanish: mother tongue</p>
                    <p>English: C2 on the CEFRL scale</p>
                    <p>Italian: B1 on the CEFRL scale</p>

                    <h2>HOBBIES</h2>
                    <p>Read</p>
                    <p>Travel</p>
                    <p>Cook</p>
                    <p>Hiking</p>
                    <p>Board games</p>
                    <p>Podcasts</p>

                    <h2>EXTRACURRICULAR CLASSES<br /> CLASSES</h2>
                    <p>Debate and public speaking</p>
                    <p>Linguistics</p>
                    <p>Classical music</p>
                    <p>Italian cuisine</p>
                    <p>Philosophy</p>
                    <p>Astronomy</p>
                    <p>Comedy writing for the stage</p>
                    <p>The technology of tomorrow</p>
                    <p>Poetry</p>
                </div>
            </div>
        </div>

        <div class="about-circle-container">
            <div class="about-rel-container">
                <h1 class="about-title">the golden circle</h1>
                <div class="about-white-bar"></div>
            </div>
            <div class="about-circle">
                <div class="about-circles about-rel-container">
                    <div class="about-circle-why">why?</div>
                    <div class="about-circle-how">how?</div>
                    <div class="about-circle-what">what?</div>
                </div>
                <div class="about-rel-container about-white-box">
                    <p>
                        Writer  <strong>Simon Sinek</strong> explains a concept of business organization called the golden circle. This consists of three concentric circles and each contains a question. Traditionally, companies have been defined based on what they do, then by how they do it and, finally, why they do it. However, a better strategy is to define first of all why, then how and, finally, what. <strong>Thus a more open way of thinking is cultivated</strong> and leaders motivate others to be guided by a common value or challenge, unlike a product or service with no apparent reason.
                    </p>
                    <p>
                        I like to use this method to organize my ideas because it clearly defines the most important features. This portfolio is no exception. I hope it serves to effectively communicate the why, how and what of each project. If you find the golden circle interesting, I recommend you adopt it and that it may serve you in some future endeavour.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
