{% set page = 'Gráficos' %}
{% set pathToRoot = '' %}
{% extends "_base.njk" %}
{% block content %}
    <div class="container">
        <div class="columns is-multiline">
            {% for item in galeries.graphics %}
                <div class="column {{item.class}}" style="width:{{item.columnWidth}}">
                    <a class="image-trigger image-{{item.img}}" href="{{item.url}}" style="{{item.style}};">
                        <img class="thumb-img" src="img/{{item.img}}.png" alt="{{item.alt}}">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
