{% set page = ['Sobre mí'] %}
{% set title = 'Sobre mí' %}
{% set pathToRoot = '' %}
{% extends "_base.njk" %}
{% block content %}
    <div class="container">
        <div class="about-summary-container">
            <div class="about-rel-container">
                <h1 class="about-title">sobre mí</h1>
                <div class="about-white-bar"></div>
            </div>
            <div class="about-summary">
                <div class="about-rel-container about-white-box">
                    <p>
                        Mi nombre es <strong>Ana Isabel Feliu</strong> y estoy estudiando Diseño Industrial en Isthmus. Lo que más me apasiona del diseño son las etapas de investigación e ideación. Normalmente utilizo la metodología de Design Thinking y me gusta liderar equipos de trabajo. Me interesa el diseño de mobiliario para el hogar, la cerámica y los textiles. La estética nórdica y japonesa son una gran inspiración, pues <strong>busco usar el diseño para hacer el mundo menos complicado</strong>. Me destaco por mi buena actitud, positividad y sentido del humor. Este portafolio contiene algunos de mis trabajos fuera y dentro de la universidad.
                    </p>
                </div>
                <div class="about-img-container">
                    <img class="about-img" src="/img/anafeliu.png" alt="">
                </div>
            </div>
        </div>

        <div class="about-cv-container">
            <div class="about-cv-header">
                <p>anafeliu14@gmail.com</p>
                <p>Panamá, Panamá</p>
                <div class="about-blue-bar"></div>
            </div>
            <div class="about-cv">
                <div class="about-cv-column">
                    <h2>EDUCACIÓN</h2>
                    <h3>Colegio Brader</h3>
                    <p>Bachiller en Ciencias y Letras 2000-2014</p>

                    <p>Promoción 2014, GPA: 4.86</p>
                    <p>Vicepresidenta de mi promoción</p>
                    <p>Secretaria (2013) y presidenta (2014) del club de debate</p>
                    <p>Olimpiadas de matematicas (2008-2010)</p>
                    <p>Olimpiadas de química (2012-2013)</p>
                    <p>Olimpiadas de física (2014)</p>
                    <p>Misión Águila Arpía (2011-2014)</p>
                    <p>Miembra del club de cine (2013)</p>
                    <p>Fundadora del Brader Intramural Conference (2013) y organizadora (2013-2014)</p>
                    <p>Miembra del club de servicio social (2014)</p>
                    <p>Curso de debate en Miss Porter’s School en Connecticut, EEUU (2011)</p>
                    <p>Curso de escritura para comedia en Brown University Rhode Island, EEUU (2012)</p>

                    <h3>University of Rochester</h3>
                    <p>Ciencias Computacionales 2015-2016</p>
                    <br />
                    <p>Clases de ciencias computacionales, matemáticas, psicología, escritura, música, historia y arte.</p>
                    <p>Miembra de los clubes de salsa, snowboarding, feministas, squash y servicio social.</p>

                    <h3>Isthmus</h3>
                    <p>Diseño Industrial 2016-2020</p>
                    <br />
                    <p>Clases de taller, tecnología, medios computacionales, gestión empresarial, factores humanos, creatividad e innovación, expresión gráfica, dibujo técnico, física, historia del diseño, presentación de proyectos, técnicas de investigación y medio ambiente.</p>
                </div>
                <div class="about-cv-column about-rel-container">
                    <h2>SOFTWARE</h2>
                    <p>Rhinoceros</p>
                    <p>Fusion 360</p>
                    <p>SolidWorks</p>
                    <p>Keyshot</p>
                    <p>Adobe Illustrator</p>
                    <p>Adobe Photoshop</p>
                    <p>Adobe InDesign</p>
                    <p>Sketch-Up</p>
                    <p>Cinema 4D</p>

                    <h2>IDIOMAS</h2>
                    <p>Español: lengua materna</p>
                    <p>Inglés: C2 en la escala CEFR</p>
                    <p>Italiano: B1 en la escala CEFR</p>

                    <h2>PASATIEMPOS</h2>
                    <p>Leer</p>
                    <p>Viajar</p>
                    <p>Cocinar</p>
                    <p>Senderismo</p>
                    <p>Juegos de mesa</p>
                    <p>Podcasts</p>

                    <h2>CURSOS<br /> EXTRACURRICULARES</h2>
                    <p>Debate y hablar en público</p>
                    <p>Linguística</p>
                    <p>Música clásica</p>
                    <p>Cocina italiana</p>
                    <p>Filosofía</p>
                    <p>Astronomía</p>
                    <p>Escritura de comedia para el escenario</p>
                    <p>Tecnología del futuro</p>
                    <p>Poesía</p>
                </div>
            </div>
        </div>

        <div class="about-circle-container">
            <div class="about-rel-container">
                <h1 class="about-title">el circulo dorado</h1>
                <div class="about-white-bar"></div>
            </div>
            <div class="about-circle">
                <div class="about-circles about-rel-container">
                    <div class="about-circle-why">¿por qué?</div>
                    <div class="about-circle-how">¿cómo?</div>
                    <div class="about-circle-what">¿qué?</div>
                </div>
                <div class="about-rel-container about-white-box">
                    <p>
                        El escritor <strong>Simon Sinek</strong> explica un concepto de organización empresarial llamada el círculo dorado. Este consiste en tres círculos concéntricos que contienen tres preguntas. Tradicionalmente, las empresas se han definido a partir de qué hacen, luego cómo lo hacen y, finalmente, porqué lo hacen. Sin embargo, una mejor estrategia es definir ante todo el porqué, luego el cómo y, de último, el qué. <strong>Así se cultiva una forma de pensamiento más abierta</strong> y los líderes motivan a los demás a guiarse por un valor o desafío en común, a diferencia de un producto o servicio sin razón.
                    </p>
                    <p>
                        A mi me gusta utilizar este método para organizar mis ideas porque define claramente los rasgos importantes. Este portafolio no es la excepción. Espero que sirva para comunicarles efectivamente el porqué, cómo y qué de cada trabajo. Ojalá les parezca interesante el círculo dorado y les sirva en algún proyecto futuro.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
