<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ana Isabel Feliu - {{page}}</title>
    <!-- inject:css -->
    <!-- endinject -->
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    {%  block styles %} {% endblock %}
</head>
<!-- <body onContextMenu="return false;"> -->
<body>
<div class="container">
    {% include '_header.njk' %}
</div>
<section class="section">
<div class="top-scroller js-top-scroller">
    <span class="icon">
        <i class="fas fa-3x fa-chevron-up"></i>
    </span>
    <br />Subir
</div>
{%  block content %} {% endblock %}
</section>
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{%  block scripts %} {% endblock %}
<!-- inject:js -->
<!-- endinject -->
</body>
</html>
