<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-59412403-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-59412403-2');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ana Isabel Feliu - {{title}}</title>
    <!-- inject:css -->
    <!-- endinject -->
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    {%  block styles %} {% endblock %}
</head>
<!-- <body onContextMenu="return false;"> -->
<body>
<div class="container">
    {% include '_header.njk' %}
</div>
<section class="section">
{% if page === 'Ensayos' %}
<div class="top-scroller js-top-scroller">
    <span class="icon">
        <i class="fas fa-3x fa-chevron-up"></i>
    </span>
    <br />Subir
</div>
{% endif %}
{%  block content %} {% endblock %}
{%  block web %} {% endblock %}
</section>
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{%  block scripts %} {% endblock %}
<!-- inject:js -->
<!-- endinject -->
</body>
</html>
