<div class="container">
    {% for page in productPages %}
    {% if page.id == pageId %}
    <nav class="level is-mobile">
        <div class="level-left">
            {% if page.navigation.prev.url %}
                <a class="level-item product-nav" href="{{page.navigation.prev.url}}">
                    <span class="icon left">
                      <i class="fas fa-3x fa-chevron-left"></i>
                    </span>
                    {{page.navigation.prev.text}}
                </a>
            {% endif %}
        </div>
        <div class="level-right">
            {% if page.navigation.next.url %}
                <a class="level-item product-nav" href="{{page.navigation.next.url}}">
                    {{page.navigation.next.text}}
                    <span class="icon right">
                      <i class="fas fa-3x fa-chevron-right"></i>
                    </span>
                </a>
            {% endif %}
        </div>
    </nav>
    <div class="columns is-variable is-8 is-multiline">
        <div class="column is-full has-text-centered">
            <h1 class="page-title">{{page.title}}</h1>
        </div>
        {% if page.featureImage.video %}
        <div class="feature-img-col column is-narrow-tablet">
            <div class="video-container">
                <iframe width="640" height="360" src="{{page.featureImage.src}}" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>
        </div>
        {% else %}
        <div class="feature-img-col column is-narrow-tablet">
            <img class="feature-img" src="../img/{{page.featureImage.src}}" alt="{{page.featureImage.alt}}">
        </div>
        {%  endif %}
        <div class="descr column has-text-centered-mobile">
            {% for description in page.descriptions %}
            <h3 class="descr-title">{{description.title}}</h3>
            <p class="descr-text">{{description.text}}</p>
            {% endfor %}
        </div>
    </div>
    <div class="columns is-variable is-8 is-multiline">
        {% for image in page.images %}
        {% if image.doubleWidth %}
        <div class="column is-full-tablet has-text-centered-mobile">
            <img class="product-img" src="../img/{{image.src}}" alt="{{image.alt}}">
            <p class="img-caption">{{image.caption}}</p>
        </div>
        {% elif image.oneThird %}
        <div class="column is-one-third-tablet has-text-centered-mobile">
            <img class="product-img" src="../img/{{image.src}}" alt="{{image.alt}}">
            <p class="img-caption">{{image.caption}}</p>
        </div>
        {% else %}
        <div class="column is-half-tablet has-text-centered-mobile">
            <img class="product-img" src="../img/{{image.src}}" alt="{{image.alt}}">
            <p class="img-caption">{{image.caption}}</p>
        </div>
        {%  endif %}
        {% endfor %}
    </div>
    {%  endif %}
    {% endfor %}
</div>
