{% set page = 'Products' %}
{% set title = 'Amplificador' %}
{% set pathToRoot = '../' %}
{% set pageId = '2' %}
{% extends "_base.njk" %}
{% block content %}
    {% include '_product_page.njk' %}
{% endblock %}
