{% set page = 'Productos' %}
{% set title = 'Aromático' %}
{% set pathToRoot = '../' %}
{% set pageId = '13' %}
{% extends "_base.njk" %}
{% block content %}
    {% include '_product_page.njk' %}
{% endblock %}
{%  block web %}
    {% for page in productPages %}
    {% if page.id == pageId %}
    <section class="section">
        <div class="container">
            <div class="columns is-variable is-8 is-multiline">
                {% for image in page.images %}
                <div class="column is-full has-text-centered">
                    <img class="product-img" src="../img/13b.jpg" alt="{{image.alt}}">
                </div>
                <div class="column is-full has-text-centered">
                    <p class="img-caption">
                        <a href="aromatico-web.html">{{image.link}}</a> {{image.caption}}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {%  endif %}
    {% endfor %}
{% endblock %}
