{% set page = 'Productos' %}
{% set title = 'Dispensadores de Papelería' %}
{% set pathToRoot = '../' %}
{% set pageId = '12' %}
{% extends "_base.njk" %}
{% block content %}
    {% include '_product_page.njk' %}
{% endblock %}
