{% set page = ['Productos', 'Products'] %}
{% set title = 'Lámpara Kibo' %}
{% set pathToRoot = '../' %}
{% set pageId = '9' %}
{% extends "_base.njk" %}
{% block content %}
    {% include '_product_page.njk' %}
{% endblock %}
