{% set page = 'Productos' %}
{% set title = 'Mesa 10' %}
{% set pathToRoot = '..' %}
{% set pageId = '3' %}
{% extends "_base.njk" %}
{% block content %}
    {% include '_product_page.njk' %}
{% endblock %}
