{% set page = ['Productos', 'Products'] %}
{% set title = 'Organizador de Escritorio' %}
{% set pathToRoot = '../' %}
{% set pageId = '1' %}
{% extends "_base.njk" %}
{% block content %}
    {% include '_product_page.njk' %}
{% endblock %}
