{% set page = 'Productos' %}
{% set title = 'Scooter PVC' %}
{% set pathToRoot = '..' %}
{% set pageId = '5' %}
{% extends "_base.njk" %}
{% block content %}
    {% include '_product_page.njk' %}
{% endblock %}
