{% set page = ['Productos', 'Products'] %}
{% set title = '' %}
{% set pathToRoot = '../' %}
{% set pageId = '6' %}
{% extends "_base.njk" %}
{% block content %}
    {% include '_product_page.njk' %}
{% endblock %}
