{% set page = 'Productos' %}
{% set title = 'Silla Wabi-Sabi' %}
{% set pathToRoot = '..' %}
{% set pageId = '4' %}
{% extends "_base.njk" %}
{% block content %}
    {% include '_product_page.njk' %}
{% endblock %}
