{% set page = 'Essays' %}
{% set title = '40 Cosas Sobre Mí' %}
{% set pathToRoot = '../' %}
{% set pageId = '401' %}
{% extends "_base.njk" %}
{% block content %}
    <div class="container">
        <nav class="level is-mobile">
            <div class="level-left">

            </div>
            <div class="level-right">
                <a class="level-item product-nav" href="calvin-and-hobbes-legacy.html">
                    Calvin and Hobbes: A Lasting Legacy
                    <span class="icon right">
                    <i class="fas fa-3x fa-chevron-right"></i>
                </span>
                </a>
            </div>
        </nav>
        <div class="columns is-multiline">
            <div class="column is-three-fifths-tablet is-offset-one-fifth-tablet has-text-centered">
                <p class="essay-title">40 Things About Me</p>
                <p class="essay-subtitle">What interests me and how I spend my free time</p>
            </div>
            <div class="column is-three-fifths-tablet is-offset-one-fifth-tablet is-one-third-desktop
                is-offset-one-third-desktop content has-text-justified">
                <ol>
                    <li>I like to bake bread.</li>
                    <li>Driving makes me nervous, even though I do it every day.</li>
                    <li>I love roller coasters.</li>
                    <li>I’m always smiling.</li>
                    <li>I love the rain when I don't have to leave the house.</li>
                    <li>There is nothing better than a good book.</li>
                    <li>My sense of direction is completely nil.</li>
                    <li>I always get excited with new projects.</li>
                    <li>I prefer dogs to cats.</li>
                    <li>I cry easily in movies.</li>
                    <li>I’m very good at board games.</li>
                    <li>I really like salsa - the music and the food.</li>
                    <li>As a child I wanted to be a spy.</li>
                    <li>I have two older brothers.</li>
                    <li>I think everyone should take more naps</li>
                    <li>I can’t whistle.</li>
                    <li>I write movie reviews.</li>
                    <li>Almost all the plants I buy die quickly.</li>
                    <li>My favorite pizza is Hawaiian.</li>
                    <li>My sense of style is impeccable.</li>
                </ol>
                <figure class="essay-img-wrapper-center">
                    <img src="../img/40-cosas.png" alt="" class="essay-img">
                    <p class="essay-caption">Evidencia del dato #20</p>
                </figure>
                <ol start="21">
                    <li>On Wednesdays I go to trivia nights.</li>
                    <li>I always sing in the car while driving.</li>
                    <li>I prefer simple illustrations to realistic drawings.</li>
                    <li>I founded a reading club in 2013 and forced my friends to join. It’s still active.</li>
                    <li>I think there is nothing more valuable than traveling and exploring the world.</li>
                    <li>I was a vegetarian for 4 months until I caved with a pepperoni pizza.</li>
                    <li>I played in a soccer league and my team was called Ham Pao FC. We came in last.</li>
                    <li>Books I have begun to write: 6. Books I have finished: 0.</li>
                    <li>Big earrings are my favorite accessories.</li>
                    <li>I tell excellent jokes, although hardly anyone agrees.</li>
                    <li>I danced ballet for 8 years.</li>
                    <li>I make lists for everything although I usually end up improvising.</li>
                    <li>Just before I graduated from school I wanted to work as a comedy writer for television.</li>
                    <li>I don't like owning many things; I consider myself a quasi-minimalist.</li>
                    <li>Creo que los mejores proyectos nacen de una buena colaboración.</li>
                    <li>I think the best projects are born from a good collaboration.</li>
                    <li>My Harry Potter house is Ravenclaw.</li>
                    <li>I love to buy boxes of assorted chocolates and guess the flavors.</li>
                    <li>CI almost always fall asleep at the cinema.</li>
                    <li>I’m in the process of weaving a carpet. It’s more time-consuming than I originally thought.</li>
                </ol>
            </div>
        </div>
    </div>
{% endblock %}
