{% set page = ['Ensayos', 'Essays'] %}
{% set title = 'Efectos de la Tercera Revolución Industrial en la Disciplina del Diseño' %}
{% set pathToRoot = '../' %}
{% set pageId = '404' %}
{% extends "_base.njk" %}
{% block content %}
<div class="container">
    <nav class="level is-mobile">
        <div class="level-left">
            <a class="level-item product-nav" href="tercera-revolucion-industrial-y-el-diseno.html">
                <span class="icon left">
                    <i class="fas fa-3x fa-chevron-left"></i>
                </span>
                Efectos de la Tercera Revolución Industrial en la Disciplina del Diseño
            </a>
        </div>
        <div class="level-right">
            {% if lang === 'es' %}
            <a class="level-item product-nav" href="calvin-and-hobbes-legacy.html">
                Calvin and Hobbes: A Lasting Legacy
                <span class="icon right">
                    <i class="fas fa-3x fa-chevron-right"></i>
                </span>
            </a>
            {% endif %}
        </div>
    </nav>
    <div class="columns is-multiline">
        <div class="column is-three-fifths-tablet is-offset-one-fifth-tablet has-text-centered">
            <p class="essay-title">Llevarte a Marte</p>
            <p class="essay-subtitle">Nuevos materiales para una nueva Era</p>
        </div>
        <div class="column is-three-fifths-tablet is-offset-one-fifth-tablet content has-text-justified">
            <p>
                ¿Cuáles son los materiales que llevaremos a Marte para no contaminar también este planeta? Seguramente no son los mismos que nos rodean en este momento. Plástico, madera, metal… Estos son materiales que componen tantos de nuestros objetos cotidianos, que la vida sin ellos suena absurda. Sin embargo, salir a otros planetas involucra necesidades que no hemos siquiera comenzado a contemplar. Una de estas necesidades es la de nuevos materiales inteligentes con propiedades específicas como halocromía, autoreparación, y resistencia a temperatura exorbitantes.
            </p>
            <p>
                Históricamente, la competencia resulta en avances expeditos, y la carrera espacial de los sesentas no es la excepción. De hecho, tecnología desarrollada para las misiones de Apollo todavía tienen uso comercial. Sin duda alguna, las innovaciones que se están dando ahora mismo para establecer una colonia en Marte serán igual de revolucionarias. Los dispositivos que aparecen en las películas dejarán de ser ficción para formar parte de cómo nos comunicamos, aprendemos y disfrutamos la vida.
            </p>
            <p>
                Según la publicación británica Telegraph, algunos de los productos que tenemos gracias a la carrera espacial son el memory foam, aspiradoras inalámbricas y las mantas térmicas: “Las ligeras mantas plateadas se desarrollaron en 1964. Además de reflejar la radiación infrarroja, ayudan al cuerpo a retener el calor y ahora son un elemento básico en los modernos kits de primeros auxilios para tratar el shock y la hipotermia.” Incontables productos se han basado en los avances de esta época y es imposible predecir cómo sería la vida moderna sin las fructíferas consecuencias de la carrera espacial.
            </p>
            <p>
                En la actualidad, muchos gobiernos y compañías privadas continúan investigando maneras de hacer posible lo improbable. Un ejemplo nos lo brinda Robert Zubrin, el presidente del Mars Society y múltiples compañías de tecnología aeroespacial. Por años, Zubrin y su equipo han estado trabajando con el departamento de Utilización de Recursos In Situ del Johnson Space Center “desarrollando tecnologías que podrían tomar sustancias existentes en Marte, especialmente el aire marciano que es 96% dióxido de carbono, y convertirlas en combustible, oxígeno, agua potable y otros recursos cruciales.”
            </p>
            <p>
                Además de facilitar de manera significativa la vida interplanetaria, este proyecto tiene muchas aplicaciones en la Tierra, como la recuperación de petróleo y gas natural. También se ve en tecnología más mundana, como abaratando el costo para las microcervecerías de agregarle burbujas a las cervezas. Proyectos como el de Zubrin son aquellos que transforman el transcurso de la historia y marcan hitos, ya sean ideas pensadas para el espacio que tienen aplicaciones en la Tierra, o viceversa.
            </p>
            <p>
                Más allá de productos, también se desarrollan materiales para los requisitos únicos que conlleva realizar una misión espacial. En el Institute of Making del University College London hay una colección con los materiales más increíbles de la Tierra, algunos creados para aplicaciones espaciales. Uno de estos es aerogel: “Es esencialmente una espuma de vidrio cuya nanoestructura contiene hasta 99.8% de aire, lo que lo convierte en el sólido más ligero del mundo. Fue realizado por Steve M. Jones, del Jet Propulsion Laboratory de la NASA como parte del proyecto de investigación Stardust. Este consistió en enviar una nave espacial que contenía un gran trozo de aerogel en un acercamiento al cometa Wild 2 para recoger polvo espacial” (Institute of Making).
            </p>
            <p>
                Otros materiales fascinantes se inventaron con otras intenciones pero se podrían adecuar fácilmente. Por ejemplo, el ladrillo termocrómico es originalmente de color azul pero cambia a blanco cuando se expone al calor. Se pensó como una solución para reflejar la luz en días cálidos y refrescar el interior de las casas. Sin embargo, se podría aplicar de manera interesante fuera del planeta, invertir su propósito para calentar los hábitats en Marte, o incluso utilizarlo como base para desarrollar materiales que reflejen la dañina radiación solar.
            </p>
            <p>
                Al principio, proyectos como estos suenan inalcanzables; pareciera que sólo mentes brillantes con décadas de experiencia podrían lograr algo similar. En realidad, todos podemos ser parte de la transformación de este campo. La pregunta es, ¿cómo se puede jugar con elementos para encontrar nuevas aplicaciones de los materiales, innovar y proveer soluciones a problemáticas dentro y fuera de la comunidad, país, e inclusive atmósfera?
            </p>
            <p>
                En el ciclo de conferencias organizado por la universidad panameña Isthmus, Yo Diseño 3, el ingeniero de producción colombiano, Luis Fernando Patiño Santa, dijo que “debemos repensar la materialidad.” En su conferencia titulada “Los materiales que cuidan el planeta: un reto humano”, Patiño alude a los desafíos que debemos afrontar en las próximas décadas para revertir los efectos del cambio climático, pues cita que “se desperdician 9.4 toneladas de desechos tecnológicos en Estados Unidos cada año.” De hecho, un informe de la ONU indica que “el mundo generó 48,5 millones de toneladas de basura electrónica en 2018.” Aquí se refieren a dispositivos como pantallas, celulares y televisores.
            </p>
            <p>
                Esto es inaudito y, francamente, inadmisible. Patiño concuerda, pues dictó un curso en la universidad EAFIT donde los estudiantes debían experimentar y crear nuevos materiales. Patiño, con una maestría de énfasis en materiales, guió el curso para lograr resultados muy creativos, como una chaqueta de cuero fabricada a partir de la semilla del aguacate. Además de recursiva, esta solución va acorde a la situación poco prometedora en la que nos encontramos con el cambio climático.
            </p>
            <p>
                Actualmente, existen miles de materiales y, como vemos, se siguen creando más. ¿Por qué necesitamos tantos materiales? Pues, siempre se busca mejorar lo existente para que sea más resistente, más flexible, más interesante. Por ejemplo, el especialista en industria aeroespacial, Michael Standridge, escribe en la revista Aerospace Engineering and Design que “La presión constante para una mayor eficiencia de combustible está obligando a los fabricantes aeroespaciales a encontrar formas de incorporar materiales nuevos y existentes que alguna vez se consideraron poco prácticos.”
            </p>
            <p>
                Standridge continúa diciendo que hace tan sólo cuarenta años, el aluminio se consideraba el material estrella para construir aeronaves, usándose en un 70%. Ahora, una nave se compone de 20% aluminio, ya que ha subido la disponibilidad de materiales compuestos superiores al aluminio, como la fibra de vidrio y el grafeno. No solo se abren nuevas posibilidades, sino que muchos de los materiales que utilizamos con frecuencia deberían ser reemplazadas por alternativas reutilizables e, idealmente, biodegradables.
            </p>
            <p>
                Hoy en día, estos sustitutos amigables con el ambiente simplemente no existen o no funcionan de manera adecuada. Las crecientes islas de plástico en el Océano Pacífico nos indican que existe un problema. Según National Geographic, “18 mil millones de libras de plástico fluyen al océano cada año. Atrapa a los animales marinos que apreciamos y a los peces que ponemos en nuestros platos, aparece en la sal de mesa que usamos e incluso se encuentra en nuestros propios cuerpos” (Gibbens).
            </p>
            <p>
                Esta situación se da, en parte, porque se relaciona la calidad de un producto con su durabilidad; si tiene una larga vida, debe ser mejor. Sin embargo, en muchos casos lo opuesto es cierto. ¿Por qué las cosas deben durar tanto tiempo? Quizás muchas civilizaciones antiguas creían que nuestras objetos nos seguirían a un mundo después de la muerte, pero la realidad es otra. De hecho, un sin número de basura vivirá más que nosotros. ¿Cuál va a ser nuestro legado? Cuando nos vayamos, ¿qué dejaremos aquí?
            </p>
            <p>
                Sería una desgracia llegar a otros planetas sólo para contaminarlos de igual manera. Es por esto que para innovar, debemos regresar al pasado. Los materiales orgánicos han sido reemplazados, en gran parte, por polímeros. Quizás la respuesta a muchas preguntas yace en la creciente transformación de materia orgánica a bioplásticos para minimizar los daños causados por nuestro abuso de la industria petroquímica. Aunque, lo más probable es que los bioplásticos equivalen a subir un escalón, mientras el reciente auge espacial impulsado, en parte, por compañías como SpaceX, nos llevará a la cima del Monte Everest.
            </p>
            <p>
                Por lo general, se habla de los biopolímeros debido a lo dañino que es el plástico de un solo uso. Lo encontramos sin duda en nuestros restaurantes de comida rápida favoritos y, muchas veces, en nuestra propia cocina. Si la comida se consumirá en cuestión de minutos, así mismo debería durar el envase. En India, muchos lugares de comida callejera utilizan envases de barro. Cuando ya no se usan, se tiran al piso: tierra regresando a tierra. Esta es una solución fantástica que abre paso a más posibilidades. Pues, de aquí nació la inspiración de Edital Ela y su línea de taburetes de arcilla: “Si un taburete ya no es útil, el propietario simplemente puede dejarlo en el jardín y dejar que se deteriore nuevamente en la tierra. O puede agregar agua y moldearlo en otro objeto funcional” (TED).
            </p>
            <p>
                Otro ejemplo del retorno a materiales orgánicos es la colección de mobiliario Sea Me por el diseñador danés, Nienke Hoogvliet. Según un artículo en la revista de diseño, Dezeen, él pasó dos años desarrollando el material, creado a partir de celulosa extraída del quelpo. En efecto, Hoogvliet propone una fascinante visión para el futuro, compartiendo su idea de que “podríamos vivir en casas completamente hechas de algas. Quería mostrar todos los diferentes materiales que pueden estar hechos de ellas.” La colección incluye, sillas, mesas y envases, los cuales se componen en su totalidad de algas.
            </p>
            <p>
                Según el artículo, los textiles que produjo Hoogvliet tienen propiedades similares  a la viscosa, un tejido sintético, pero las algas proveen fibras más suaves. Este hallazgo es de suma importancia para la industria de la moda y decoración de interiores, pues éstas generan desechos en tasas alarmantes. De hecho, “la industria textil representa el 10% de las emisiones globales de carbono y sigue siendo el segundo mayor contaminador industrial, sólo superado por el petróleo.”, de acuerdo a un artículo de la revista Forbes.
            </p>
            <p>
                A esto le debemos añadir lo que se desecha cada año. Según un reportaje de NPR, la Agencia de Protección Ambiental de Estados Unidos estimó que “en 2013 se generaron 15,1 millones de toneladas de residuos textiles, de los cuales se desecharon 12,8 millones de toneladas”. Debemos tener en cuenta que estas cifras son representativas de solamente un país. De repente ya no nos debemos preguntar cuál es el tamaño de nuestro pantalón, sino cuál es el tamaño de nuestra contaminación. ¿Hasta cuándo seguiremos utilizando materiales contaminantes? ¿Cómo podemos cambiar la cultura de desechos en el mundo? ¿Llegaremos a otros planetas para causar la misma destrucción?
            </p>
            <p>
                A pesar de los errores del pasado, tengo esperanza para el  futuro. El cambio toma tiempo y hoy en día existen muchos esfuerzos por revertir los efectos del cambio climático. Desde materiales absolutamente increíbles hechos a partir de 99.8% aire, hasta el replanteamiento de desechos a materia prima útil, seguimos creando soluciones y, con ellas, ilusión en un estilo de vida más sostenible. De seguro veremos innovaciones asombrosas en las próximas décadas que van a solucionar problemas en la Tierra e impulsar la exploración de otros planetas.
            </p>
            <p>
                Sin duda, estamos viviendo en el comienzo de una era que traerá cambios tecnológicos a una velocidad inigualable. Es más fácil que nunca colaborar en equipos multidisciplinarios de diseñadores, ingenieros, químicos y de más para cambiar el curso de la historia. Estos cambios iniciales se darán con los elementos que tenemos a nuestra disposición. Es decir, muchos materiales no están disponibles con facilidad en nuestro planeta, pero sí en otros a los que llegaremos eventualmente.
            </p>
            <p>
                Si hemos creado miles de materiales en la Tierra, ¿cuántos más crearemos en Marte? ¿En el resto de la galaxia? ¿A qué retos nos vamos a enfrentar, resolviendolos con la recursividad que identifica nuestra especie? Y, ¿quién sabe? Quizás el proyecto en el que estás trabajando resulte en alguna tecnología que impulsará el desarrollo de un producto absolutamente indispensable para la vida cotidiana del futuro.
            </p>
            <p class="essay-bibliography-title pastel-orange">Bibliografía</p>
            <p>
                <a href="https://www.instituteofmaking.org.uk/materials-library/material/aerogel#gallery-window" target="_blank">“Aerogel”</a>.  Materials Library, Institute of Making, University College London.
            </p>
            <p>
                Conca, James. <a href="https://www.forbes.com/sites/jamesconca/2015/12/03/making-climate-change-fashionable-the-garment-industry-takes-on-global-warming/#5f0b876479e4" target="_blank">“Making Climate Change Fashionable - The Garment Industry Takes On Global Warming.”</a> Forbes, 03/12/15.
            </p>
            <p>
                DiCicco, Mike. <a href="https://www.nasa.gov/offices/oct/feature/technology-for-mars-puts-bubbles-into-beer" target="_blank">“Technology for Mars Puts Bubbles into Beer”</a>. NASA, SpinOff, 16/03/16.
            </p>
            <p>
                Gibbens, Sarah. <a href="https://www.nationalgeographic.com/environment/2018/11/are-bioplastics-made-from-plants-better-for-environment-ocean-plastic/" target="_blank">“What you need to know about plant-based plastics”</a>. National Geographic, 15/11/18.
            </p>
            <p>
                Kolbe, Kerry. <a href="https://www.telegraph.co.uk/films/hidden-figures/technology-from-the-space-race/" target="_blank">“Space Race: 10 technologies we should all be grateful for”</a>. Telegraph, 09/02/17.
            </p>
            <p>
                <a href="https://www.bbc.com/mundo/noticias-47032919" target="_blank">“La basura electrónica en 4 gráficos: cómo el mundo desperdicia US$62.500 millones cada año”</a>. BBC News Mundo, 29/01/19.
            </p>
            <p>
                Patiño, Luis Fernando. “Los materiales que cuidan el planeta: un reto humano”. Isthmus, Ciclo de Conferencias. Panamá, Ciudad del Saber, Edificio 184. 09/09/19.
            </p>
            <p>
                Samimi-Moore, Shirin. <a href="https://blog.ted.com/dust-to-dust-ted-fellow-adital-ela-makes-products-from-compressed-dirt/" target="_blank">“Dust to dust: TED Fellow Adital Ela makes products from compressed dirt”</a>. TED, 31/01/13.
            </p>
            <p>
                Standridge, Michael. <a href="https://www.aerospacemanufacturinganddesign.com/article/amd0814-materials-aerospace-manufacturing/" target="_blank">“Aerospace materials - past, present, and future”</a>. Aerospace Manufacturing and Design, 13/08/13.
            </p>
            <p>
                <a href="https://www.instituteofmaking.org.uk/materials-library/material/thermochromic-brick" target="_blank">“Thermochromic Brick”</a>. Materials Library, Institute of Making, University College London.
            </p>
            <p>
                Tucker, Emma. <a href="https://www.dezeen.com/2016/07/17/sea-me-furniture-studio-nienke-hoogvliet-design-seaweed-woven-algae-table-chair/" target="_blank">“Nienke Hoogvliet's Sea Me furniture is made from woven seaweed”</a>. Dezeen, 17/07/16.
            </p>
            <p>
                Yun Tan, Zhai. <a href="https://www.npr.org/2016/04/08/473513620/what-happens-when-fashion-becomes-fast-disposable-and-cheap" target="_blank">“What Happens When Fashion Becomes Fast, Disposable And Cheap?”</a>. NPR, 10/04/16.
            </p>
        </div>
    </div>
</div>
{% endblock %}
